.kol {
	color: rad;
	background: linear-gradient(60deg, purple, red, yellow, purple);
	gap: 40px;
	border: 5px solid black;
	margin: 20px;
	padding: 20px;
}
.ak {
	margin-left:100px;
}
.lol {
	align="bottom"
	margin: 30px;
	padding: 45px;
}
.as {
	margin-top: 500px;
	margin-right: -320px;
}